.row
	- @cohorts.each do |c|
		.medium-6.columns
			= c.track
			= c.location.city
			= c.start_date
			= c.end_date
			%a.button{href: "/cohorts/#{c.id}" } Show
.row
	%a.button.success{href: new_cohort_path} Add a Cohort
