.row
	.medium-6.small-centered.columns
		= @cohort.track
		= @cohort.location.city
		= @cohort.start_date
		= @cohort.end_date
		%br
		%a.button{href: edit_cohort_path} Update Cohort
.row
	.medium-6.columns
		%h3 Add An Assignment
		= form_for @new_assignment, url: "/assignments", method: :post do |f|
			= f.hidden_field :cohort_id, value: @cohort.id
			= f.label :assignment_name
			%br
			= f.text_field :assignment_name
			
			= f.label :description
			%br
			= f.text_area :description

			= f.label :due_date
			%br
			= f.date_field :due_date

			= f.submit "Add Assignment"

%h3 Assignments
.row
	- @assignments.each do |a|
		.medium-6.columns
			%strong= a.assignment_name
			%br
			= a.description
			%br

			= a.due_date

						