.row
	.small-9.large-10.columns

	.small-3.large-2.columns
		%a.button{href: "/cohorts/#{@cohort.id}"} Back
.row
	.medium-4.small-centered.columns
		%strong= @cohort.track 
		%strong= @cohort.location.city
		%strong= @cohort.start_date
		%strong= @cohort.end_date
.row
	.medium-4.small-centered.columns
		%h3= @assignment.assignment_name
.row
	%p= @assignment.description
.row
	.small-4.small-centered.columns
		%a.button{href: edit_assignment_path(@assignment.id)} Update
.row
	.small-4.small-centered.columns
		%h4 This Assignment is due
		%br
		= @assignment.due_date
		%br


		= button_to "Add an App", new_submission_path, form_class: "button success", method: :get, :params => {:my_param => @assignment.id}
		/ %a.button.success.expand.add{href: new_submission_path} Submit an app


.row

	- @submissions.each do |f|
		.medium-6.columns
			= f.github_link
			%br
			= f.heroku_link
			%br
			- if f.status?
				= f.status
			- else
				%p This App has not yet been graded
			%br
			= f.user.first_name + " " + f.user.last_name
			%br
			%a.button{href: submission_path(f.id)} View
			%br